.ar-guide-picture-popout {
  padding: 5px;
  background-color: white;
  width: 700px;
  position: absolute;
  box-shadow: 0px 0px 3px black;
}

.ar-guide-picture-popout > .ar-picture-close {
  text-align: left;
  font-size: 1.4em;
  font-weight: bolder;
  padding-right: 10px;
}

.ar-guide-picture-popout img {
  max-width: 560px;
  max-height: 560px;
  margin: 0 auto;
}

.ar-sg-sprompt {
  position: absolute;
  background-color: white;
  padding: 3px;
  font-family: calibri;
  font-weight: bolder;
  font-size: 0.8em;
  box-shadow: 0px 1px 1px black;
}

.ar-sg-sprompt div {
  padding: 4px;
  cursor: pointer;
}

.ar-sg-sprompt div:hover {
  background: #0e0e0e;
  color: white;
}

.ar-setting-guide, .ar-setting-guide div {
  box-sizing: border-box;
}

.ar-setting-guide {
  width: 550px;
  box-shadow: 0px 1px 2px black;
  background-color: #fefefe;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20px;
  font-family: calibri;
  color: black;
}

.ar-setting-border {
  padding: 2px;
  background-color: black;
}

.ar-setting-guide .ar-setting-title {
  text-align: center;
  letter-spacing: 8px;
  font-size: 2.9em;
  font-weight: bolder;
  margin-top: 25px;
  font-variant: small-caps;
}

.ar-setting-guide .ar-setting-ref-strip {
  padding: 3px;
  width: 590px;
  margin-left: -20px;
  border-spacing: 3px 0;
}

.ar-setting-guide .ar-setting-ref-strip td {
  width: 25%;
  padding-top: 24.5%;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 0px 0px 1px black;
  background-size: 145px 146px;
  cursor: crosshair;
}

.ar-sg-disclaimer {
  width: 80%;
  padding: 5px;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid #174061;
  background-color: #C7E6FF;
  color: #174061;
  text-align: center;
  font-size: 0.9em;
  font-weight: bolder;
}

.arg-inner {
  margin-top: 20px;
}

.ar-setting-details {
  width: 94%; 
  margin: 0 auto;
  margin-top: 5px;
  height: 450px;
  padding-right: 7px;
  text-align: justify;
  position: relative;
  overflow: auto;
  font-size: 1.0em;
}

.ar-setting-details h1, .ar-setting-details h2, .ar-setting-details h3, .ar-setting-details h5 {
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 3px;
}

.ar-setting-details h1 {
  border-bottom: 1px solid #e0e0e0;
}

.ar-setting-details::-webkit-scrollbar {
  width: 4px;
}

.ar-setting-details::-webkit-scrollbar-track {
  background-color: white;
}

.ar-setting-details::-webkit-scrollbar-thumb {
  background-color: black;
}

.ar-setting-details::-webkit-scrollbar-button {
  background-color: black;
}