#j-minorc2, #j-minorc2 div, #j-minorc2 span {
  box-sizing: border-box;
}

#j-minorc2 {
  width: 525px;
  margin: 0 auto;
  overflow: auto;
  color: black !important;
}

#j-minorc2 > div {
  width: 50%;
  height: 350px;
}

#j-minorc2 > div:first-child {
  float: left;
  position: relative;
  overflow: auto;
}

#j-minorc2 > div:last-child {
  float: right;
  overflow-y: auto;
  border: 1px solid black;
  background: white;
  direction: rtl;
}

#j-minorc2 .j-mc-i, #j-minorc2 .j-mc-p {
  position: absolute;
  top: 0;
  bottom: 0; 
  width: 100%;
  transition: all 0.1s linear;
}

#j-minorc2 .j-mc-p {
  z-index: 2;
}

#j-minorc2 .j-mc-i {
  z-index: 1;
  overflow: hidden;
  line-height: 22px;
  border: 1px solid black;
  border-right: 0px solid black;
}

#j-minorc2 .j-mc-p > span {
  display: block;
  font-weight: bolder;
}

#j-minorc2 .j-mc-p > span:nth-of-type(1) {
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin-top: 290px;
}

#j-minorc2 .j-mc-p > span:nth-of-type(2) {
  font-size: 0.8em;
  font-variant: small-caps;
  text-align: center;
  color: white;
  margin-top: -5px;
}

#j-minorc2 > div:first-child:hover > .j-mc-i {
  z-index: 2;
  background: white;
  padding: 10px;
  overflow: auto;
}

#j-minorc2 > div:first-child:hover > .j-mc-p {
  z-index: 1;
}

#j-minorc2 > div:last-child > span {
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  padding: 3px;
  padding-left: 10px;
  direction: ltr;
}

#j-minorc2 > div:last-child > span:not(:nth-of-type(1)) {
  margin-top: 5px;
}

#j-minorc2 > div:last-child > div {
  width: 100%;
  background: #AFDEED;
  padding: 3px 7px 4px 7px;
  overflow: auto;
  font-size: 1.3em;
  direction: ltr;
}

#j-minorc2 div::-webkit-scrollbar {
    width: 3px;
}

/* Track */
#j-minorc2 div::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
#j-minorc2 div::-webkit-scrollbar-thumb {
    background: black; 
}